footer {
  background-color: #c8c0bb;
  color: black;
  margin-top: 1rem;
  overflow: hidden;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 2rem;
  width: 90%;
  margin: auto;
}
.footer-wrapper h5 {
  flex: 1 1 40rem;
}
.footer-wrapper ul {
  display: flex;
  list-style: none;
}
.footer-wrapper ul > li > a {
  font-size: 4rem;
  color: black !important;
}

@media screen and (max-width: 80rem) {
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: 3rem;
  }
  .footer-wrapper ul > li {
    font-size: 4rem;
    padding: 0 1rem;
  }
}
