@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Yanone+Kaffeesatz&display=swap");

li {
  list-style: none;
}

.header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  align-items: center;
  color: white;
  font-family: "Ranchers", cursive;
  background-color: #162b32;
  padding: 1rem;
}

.left-nav {
  display: flex;
  align-items: center;
}
.search-nav {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 4rem;
  margin-left: 2rem;
  background-color: #018675;
  cursor: pointer;
}
.search-nav:hover {
  background-color: #49b9ae;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  cursor: pointer;
}
.logo-name {
  font-size: 2rem;
  padding: 0 1rem;
  text-transform: uppercase;
}
.logo img {
  max-width: 5rem;
}
.auth-user {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.btn {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 1rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.btn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  letter-spacing: 0.5rem;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.signup-icon {
  margin-left: 1rem;
  width: 2rem;
}
.login-icon {
  position: relative;
  top: 0.5rem;
  margin-left: 1rem;
  width: 2.4rem;
}
@media (max-width: 80rem) {
  .header {
    width: 100%;
  }
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
  }
  .logo-name {
    display: none;
  }
  a {
    padding: 0rem !important;
  }
  .signup-icon {
    display: none;
  }
  .login-icon {
    display: none;
  }
}
