@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.model {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -2px 8px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 8px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 8px 25px 0px rgba(0, 0, 0, 0.75);
  background-color: #303940;
  z-index: 2;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}
.login-model {
  width: 50rem;
}
.login-wrapeer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.top-login {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}
.title-signin {
  display: flex;
  flex-basis: 60%;
  font-size: 4rem;
  padding-bottom: 2rem;
  color: aliceblue;
}

.login-img {
  position: relative;
  top: 9rem;
  max-width: 25rem;
}
.main-model {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.input-login {
  padding: 0.9rem 7rem;
  font-size: 1.8rem;
  margin-left: 1rem;
  border: none;
  border-radius: 10rem;
  outline: none;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-right: 1rem;
  padding: 0.5rem 0rem;
  font-size: 2rem;
  border: none;
  width: 50%;
  border-radius: 1rem;
  background-color: #47abd5;
  color: white;
  outline: none;
  cursor: pointer;
}
.log-icon {
  max-width: 3rem;
  margin-left: 1rem;
}
.login-btn:hover {
  background-color: #0d87bb;
}
.error-field-login {
  font-size: 1.8rem;
  color: red;
  font-weight: 700;
  padding: 1rem;
  text-align: center;
}

.btn-hide {
  position: relative;
  right: 3rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.change-model {
  position: relative;
  top: 8rem;
  background-color: transparent;
  border: none;
  font-size: 1.9rem;
  color: wheat;
  cursor: pointer;
}

@media (max-width: 80rem) {
  .login-model {
    width: 35rem;
  }
  .login-btn,
  .input-login {
    width: 80%;
    align-self: center;
  }
  .input-containter {
    position: relative;
    left: 2.4rem;
  }
}
