#swiper {
  width: 100%;
  margin: auto;
  min-height: 10vh;
  padding: 2rem;
  box-shadow: 3px 8px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 8px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 8px 20px 0px rgba(0, 0, 0, 0.75);
  cursor: grab;
  margin-bottom: 2rem;
  background-color: #c8c0bb;
}

.dog-img {
  width: 25rem;
  height: 25rem;
}
.swiper-container {
  z-index: 0 !important;
}

@media (max-width: 80rem) {
  #swiper {
    box-shadow: none;
    background-color: transparent;
  }
  .dog-img {
    width: 19rem;
  }
}
