@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Yanone+Kaffeesatz&display=swap");

#home-section {
  background-color: white;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}
.img-details img {
  max-width: 70rem;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.details-info {
  min-height: 60vh;
}
.details-info img {
  max-width: 40rem;
}
.head-line {
  font-size: 4rem;
  padding: 1rem;
  padding-bottom: 5rem;
}
.details-info p {
  font-size: 2rem;
  padding: 1rem;
  line-height: 3.5rem;

  font-family: "Yanone Kaffeesatz", sans-serif;
}

@media (max-width: 80rem) {
  .hero {
    flex-wrap: wrap;
  }
  .img-details {
    display: none;
  }
  .head-line {
    text-align: center;
  }
  .details-info p {
    font-size: 2rem;
    word-break: break-all;
    padding: 3rem;
  }
  .details-info img {
    max-width: 35rem;
  }
}
