@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+TC&display=swap");

.fYvZuV {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-weight: 700 !important;
  font-family: "Anton", sans-serif;
}
.jbXzPk {
  font-size: 1.8rem !important;
  font-family: "Noto Sans TC", sans-serif;
}
.jpnrBA {
  font-size: 2rem !important;
  font-family: "Noto Sans TC", sans-serif;
}
.fRHOyh {
  font-size: 1.6rem !important;
  font-weight: 600;
}
