@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Yanone+Kaffeesatz&display=swap");

#home-section {
  background-color: white;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}
.img-details img {
  max-width: 70rem;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.head-line {
  font-size: 4rem;
  padding: 1rem;
  padding-bottom: 5rem;
}
.details-info p {
  font-size: 2rem;
  padding: 1rem;
  line-height: 3.5rem;
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
