.search-page {
  min-height: 90vh;
  width: 90%;
  margin: auto;
}
.search-card {
  background-color: lightseagreen !important;
}
.info p {
  font-size: 1.6rem !important;
}
.not-found {
  max-width: 50rem;
}
