.serach-bar {
  position: relative;
  padding: 3rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 5rem;
}
.form-search {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.search-input {
  padding: 1rem 3rem;
  text-align: start;
  border: none;
  font-size: 2rem;
  border-bottom: 2px solid blue;
  background-color: transparent;
}
.search-btn {
  font-size: 2rem;
  margin-left: 3rem;
  padding: 0.3rem 3rem;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
}
.err {
  margin-left: 6rem;
}
.toggle {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  align-self: flex-end;
  font-size: 2rem;
  padding: 0.3rem 3rem;
  background-color: transparent;
  color: gray;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
}
.serach-icon {
  width: 4rem;
  margin-right: 1rem;
}
.form-search-advance {
  display: flex;
  flex-direction: column;
}
.advance-input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  border: 3px solid lightsalmon;
  border-radius: 2rem;
  margin-left: 2rem;
  outline: none;
}

.advance-search-btn {
  padding: 0.5rem 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 2rem;
  color: white;
  outline: none;
  cursor: pointer;
}
.numbers input {
  padding: 0.5rem 8rem;
}

@media (max-width: 80rem) {
  .form-search {
    flex-direction: column;
  }
  .search-btn {
    margin-top: 1rem;
  }
  .form-search-advance {
    width: 100%;
  }
  .input-group {
    flex-direction: column;
  }
  .advance-search {
    display: flex;
    padding: 2rem;
  }
  .advance-input {
    padding: 0.5rem 1rem;
  }
  .err {
    margin-left: 2rem;
  }
}
