.search-page {
  position: relative;
  min-height: 90vh;
  width: 90%;
  margin: auto;

  overflow: hidden;
}
.search-card {
  background-color: lightseagreen !important;
}
.info p {
  font-size: 1.6rem !important;
}
.not-found {
  max-width: 50rem;
}

@media (max-width: 80rem) {
  .not-found {
    max-width: 30rem;
  }
}
