@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.wrapper {
  position: relative;
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Oswald", sans-serif;
  z-index: 10;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 25%;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  box-shadow: -5px 1px 22px 0px rgba(17, 3, 12, 0.75);
  -webkit-box-shadow: -5px 1px 22px 0px rgba(17, 3, 12, 0.75);
  -moz-box-shadow: -5px 1px 22px 0px rgba(17, 3, 12, 0.75);
  background-color: #385a64;
}
.card:hover {
  transform: translateY(-5rem);
  background-color: #ff4f5a;
  color: white;
}
.crad-img img {
  max-width: 20rem;
}
.top-card {
  font-size: 2rem;
}

.crad-link a {
  font-size: 2rem;
}
.cool {
  position: absolute;
}

@media (max-width: 80rem) {
  .cards {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin: 2rem 0;
    background-color: #d95f5f;
    transform: none;
  }
  .card:hover {
    transform: none;
  }
}
