@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.my-pets {
  position: relative;
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.pets {
  font-size: 2rem;
  display: flex;
  align-self: flex-start;
  background-color: transparent;
  padding: 0.5rem 5rem;
  margin: 3rem;
  border-radius: 20rem;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  z-index: 20;
}
.save-btn {
  background: linear-gradient(0deg, #48c6ef, #6f86d6);
}
.owned-btn {
  background: linear-gradient(0deg, #13547a, #80d0c7);
}
.no-pets {
  display: flex;
  justify-content: center;
  padding: 5rem;
  font-size: 3rem;
  text-align: center;
  font-family: "Russo One", sans-serif;
}
.crads-pets {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card-pet {
  display: flex;
  height: 60vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.pet-img img {
  width: 100%;
  height: 30vh;
}
.status-pet {
  display: flex;
  align-items: center;
}
.status-pet p {
  font-size: 2rem !important;
  padding: 1rem;
  font-family: "Russo One", sans-serif;
}
.btn-more {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  color: white;
  border: none;
  border-radius: 1rem;
  margin: 3rem;
  cursor: pointer;
}
.btn-more:hover {
  background-color: #297dcc;
}
.delete-saved {
  position: relative;
  left: 16.5rem;
  top: -9rem;
  padding: 0.3rem 2rem;
  border: none;
  background-color: transparent;
  border-radius: 2rem;
  outline: none;
  color: black;
  cursor: pointer;
}
.trash-icon {
  max-width: 4rem;
}
.delete-saved:hover {
  transform: scale(1.5);
}
.carousel .slide {
  background: none;
}
.carousel.carousel-slider .control-arrow {
  width: 10%;
}
.carousel .carousel-status {
  font-size: 3rem;
}

@media (max-width: 80rem) {
  .my-pets {
    flex-direction: column;
  }
  .btn-more {
    font-size: 2rem;
    padding: 0.5rem 2rem !important;
  }
  .delete-saved {
    position: relative;
    left: 16.5rem;
    top: -10rem;
  }
}
