@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.my-pets {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}
.crads-pets {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card-pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100%;

  background: rgb(191, 52, 100);
  background: linear-gradient(
    0deg,
    rgba(191, 52, 100, 1) 7%,
    rgba(19, 97, 217, 0.9601706970128023) 100%
  );
}
.pet-img img {
  max-width: 100%;
  height: 30vh;
}
.pet-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.status-pet p {
  font-size: 2rem;
  padding: 1rem;
  font-family: "Roboto Slab", serif;
}
.show-more {
  padding: 2rem;
}
.btn-more {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  background-color: #1a2725;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
