@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.my-pets {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}
.pets {
  font-size: 2rem;
  display: flex;
  align-self: flex-start;
  padding: 0.5rem 5rem;
  margin: 3rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
.save-btn {
  background-color: #f5a462;
}
.owned-btn {
  background-color: #e86f51;
}
.no-pets {
  display: flex;
  justify-content: center;
  padding: 5rem;
  font-size: 3rem;
  text-align: center;
  font-family: "Russo One", sans-serif;
}
.crads-pets {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card-pet {
  display: flex;
  height: 60vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.pet-img img {
  width: 100%;
  height: 30vh;
}
.status-pet {
  display: flex;
  align-items: center;
}
.status-pet p {
  font-size: 2rem;
  padding: 1rem;
  font-family: "Russo One", sans-serif;
}
.show-more {
  padding: 2rem;
}
.btn-more {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: #1a2725;
  color: white;
  border: none;
  border-radius: 1rem;
  margin: 3rem;
  cursor: pointer;
}
.btn-more:hover {
  background-color: #297dcc;
}
.delete-saved {
  padding: 0.3rem 2rem;
  font-size: 1.6rem;
  background-color: lightskyblue;
  border: none;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
}
.delete-saved:hover {
  background-color: #297dcc;
  color: white;
}
