a {
  text-decoration: none;
  padding: 2rem;
  color: white;
}

.welcome-user {
  font-size: 3rem;
}

.log-out:hover {
  background-color: lightseagreen;
  color: white;
  border: none;
}

.log-out {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  background-color: transparent;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
}
