.detalis {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pet-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.pet-img h2 {
  font-size: 2rem;
  padding: 2rem;
  color: white;
  font-family: "Ranchers", cursive;
}
.pet-img img {
  max-width: 30rem;
}
.pet-detalis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  min-height: 70vh;
  background-color: #213152;
  margin-bottom: 1rem;
  color: white;
}
.pet-info {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: space-between;
}
.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  padding: 3rem;
  transition: 1.2s;
}
.row:hover {
  background-color: #577c9e;
  transform: scale(1.1);
}
.colume {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.pet-btns {
  display: flex;
  padding: 4rem;
}
.pet-btn {
  padding: 0.5rem 2rem;
  margin-left: 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  outline: none;
}
.colume strong {
  color: coral;
  font-size: 3rem;
}
.colume span {
  font-size: 2rem;
}
.save {
  background-color: lightseagreen;
}
.Adopet {
  background-color: #26828c;
}
.return {
  background-color: #b7272c;
}

@media (max-width: 80rem) {
  .detalis {
    flex-direction: column;
    width: 100%;
  }
  .pet-detalis {
    flex-wrap: wrap;
  }
  .row {
    padding: 2rem;
    justify-content: center;
    align-items: center;
  }
  .pet-btn {
    margin-left: 1rem;
  }
  .colume strong {
    font-size: 2rem;
  }
}
