.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 90%;
  margin: auto;
}

.settings-img img {
  max-width: 70rem;
}

.settings-form {
  display: flex;
  flex-basis: 60%;
  min-height: 80vh;
  align-items: center;
}
.profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-input {
  padding: 0.8rem 2rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  border-radius: 1rem;
  outline: none;
}
.brn-groupe {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.save-btn {
  padding: 0.5rem 5rem;
  font-size: 1.8rem;
  background-color: #ff4f5a;
  color: white;
  border: none;
  border-radius: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}
.save-btn:disabled {
  background-color: lightgray;
  color: black;
  cursor: not-allowed;
}

@media (max-width: 80rem) {
  .settings-img {
    display: none;
  }
}
